@{
    ViewData["Title"] = "Contact";
}

<p><h3>Free consulting for bussiness</h3></p>

<div style="font-size: 10px; font-family:'Arial Rounded MT'">
    <form>
        <h4>Put your personal data and </h4>
        <h6>Email:</h6>
        <input type="email" />
        <br />
        <h6>Message:</h6>
        <input type="text" />
        <br /><br />
        <input type="submit" />
        <br />
    </form>


</div>